<% include partials/header %>

    <h1>Strategica</h1>

    <button onclick="window.location.href='/register'">Click me to register</button> <br> <br>
    <button onclick="window.location.href='/login'">Click me to login</button>

<% include partials/footer %>